Package: ru.gaifam.op3nware
Name: Op3nware
Depends: mobilesubstrate
Version: 0.2
Architecture: iphoneos-arm
Description: Op3nware Mod menu for Standoff 0.22.2
Maintainer: DANILIAMMO
Author: DANILIAMMO
Section: Tweaks
Homepage: https://t.me/Op3nware
